ul {
    list-style-type: none;
}

li{
    display: inline;
    padding: 1rem;
}

body{
    background-color: #FFA6C1;
    font-family: 'Garamond', Serif;
    text-align: center;
}

a{
    color: #FF5D8F;
    text-decoration: none;
}

a:hover {
    color: #FADDE1;
}

img{
    border-radius: 0%;
}

.galeria img{
    width: 300px;
}

.biografia img{
    width: 230px;
}

.biografia {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.biografia p {
    max-width: 80%;
}

.item-projeto p {
    text-align: left;
    margin-left: 40%;
}